<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<%- include('imports') %>
		<link rel="stylesheet" href="/stylesheets/login_style.css">
  </head>
  <body>
    <div class="container">

			<div class="app-bar">
				<img src="../img/avatar.svg" alt="" />
			</div>

			<div class="img-login-home">
				<img src="../img/img-home.svg" alt="">
			</div>

			<div class="login-container">
				<form action="ROTA POST PARA LOGIN" method="POST">
					<img class="img-avatar" src="../img/avatar.svg" alt="">
					<h2>Olá, <%= userType %></h2>
					
					<div class="one input-div focus">
						<div class="i">
							<i class="fas fa-envelope"></i>
						</div>
						<div>
							<h5>Email</h5>
							<input class="input" type="text">
						</div>
					</div>

					<div class="two input-div focus">
						<div class="i">
							<i class="fas fa-lock"></i>
						</div>
						<div>
							<h5>Senha</h5>
							<input class="input" type="password">
						</div>
					</div>
					<a href="#">Esqueceu a senha?</a>
					<input type="submit" class="btn-login" value="Entrar">
				</form>
			</div>

		</div>

		<script>
			const inputs = document.querySelectorAll(".input");

			function focusFunc(){
				let parent = this.parentNode.parentNode;
				parent.classList.add("focus");
			}

			function blurFunc(){
				let parent = this.parentNode.parentNode;

				if(this.value ==""){
					parent.classList.remove("focus");
				}
			}

			inputs.forEach(input => {
				input.addEventListener("focus", focusFunc);
				input.addEventListener("blur", blurFunc);
			});

		</script>

  </body>
</html>
