<div class="menu bg-light shadow">

	<% if (userType == 1) { %>
		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Home">
			<i class="fas fa-home fa-2x"></i> </button>
		<div class="break"></div>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Avaliação Física">
			<i class="fas fa-weight fa-2x"></i>
		</button> <div class="break"></div>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Treinos">
			<i class="fas fa-dumbbell fa-2x"></i>
		</button> <div class="break"></div>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Financeiro">
			<i class="fas fa-wallet fa-2x"></i>
		</button> <div class="break"></div>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Configurações">
			<i class="fas fa-tools fa-2x"></i>
		</button> <div class="break"></div>
	<% } %>

	<% if (userType == 2) { %>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Home">
			<i class="fas fa-home fa-2x"></i> </button>
		<div class="break"></div>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Alunos">
			<i class="fas fa-users fa-2x"></i>
		</button> <div class="break"></div>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Avaliação Física">
			<i class="fas fa-weight fa-2x"></i>
		</button> <div class="break"></div>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Treinos">
			<i class="fas fa-dumbbell fa-2x"></i>
		</button> <div class="break"></div>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Agenda">
			<i class="fas fa-calendar-alt fa-2x"></i>
		</button> <div class="break"></div>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Financeiro">
			<i class="fas fa-wallet fa-2x"></i>
		</button> <div class="break"></div>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Configurações">
			<i class="fas fa-tools fa-2x"></i>
		</button> <div class="break"></div>

	<% } %>

	<% if (userType == 3) { %>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Home">
			<i class="fas fa-home fa-2x"></i> </button>
		<div class="break"></div>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Pacientes">
			<i class="fas fa-hospital-user fa-2x"></i>
		</button> <div class="break"></div>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Avaliações">
			<i class="fas fa-weight fa-2x"></i>
		</button> <div class="break"></div>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Dieta">
			<i class="fas fa-apple-alt fa-2x"></i>
		</button> <div class="break"></div>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Atendimentos">
			<i class="fas fa-calendar-alt fa-2x"></i>
		</button> <div class="break"></div>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Financeiro">
			<i class="fas fa-wallet fa-2x"></i>
		</button> <div class="break"></div>

		<button class="menu-box" data-toggle="tooltip" data-placement="right" title="Configurações">
			<i class="fas fa-tools fa-2x"></i>
		</button> <div class="break"></div>

	<% } %>
					
	
	
	
	
	
	
	
	
	


	
	<a href="#"> <!--i class="fas fa-door-open fa-2x"></i-->Sair </a> <div class="break"></div>
</div>