@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

.app-bar {
  height: 50px;
  width: 100vw;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9724B9;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.app-bar img {
  height: 30px;
  margin-top: 10px !important;
} 